/* Global  reset*/
*{
    margin: 0;
    padding: 0;
    /* to remove Extre  Spaces */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: Arial, Tahoma, sans-serif;
    font-size: 18px;
}

ul{
    list-style: none;
}

/* to remve any clear after floating */
/* clearfix is div */ 
.clearfix {
    clear: both;
}

/* End Global */

/* start Header */

.mainHeader {
   /*  background-color:#333; */
    background-color: #2196F3;
    color:white; 
    padding: 15px;
    text-align: center; 
}

/* Syling Links */
/* unvisited(a:link) visited(a:visited) link  selected link(a:active)*/

nav ul {
  padding: 20px;
  text-align: center;
  background-color: #333;
}

nav ul li{
  
  display: inline-block;
  padding: 20px;
}

nav ul  li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin: 5px;
}

.active {
  background-color: red;
}

nav ul li
a:link,
a:visited,
a:active 
{ 
  color:white;
} 


/* mouse over link  */
nav ul li a:hover 
{ 
  
  text-decoration: underline; 
  background-color: #111;
}


/* End Header */

/* start main content */
main {
    background-color: #EEE;
     padding: 20px;
}

main p {
    text-align: center;
    font-size: 22px;
    
}

main span {
    font-weight: bold;
    color: #666;
}

main mark {
    background-color: #00f;
    color: #fff;
}

/* End main */

/* start article */
/* give this div 70% of page
and floated to left */
.post {
    width: 70%;
    float: left;
}

.post article {
    background-color:#f6f6f6;
    border: 1px solid #ccc;
    margin:20px;
}

.post article header{
    padding: 10px;
    background-color:#E2E2E2;
}

.post article section{
    padding: 10px;
}

.post article section details{
    margin: 10 0;
  
}
  
.post article section code {
    background-color: #fff;
    padding: 10px;
    display: block;
    margin: 10px 0;
    border: 1px solid #ccc;
    max-width: 500px;
}

.post article section .img-figure {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    width: 100%; 
    text-align: center; 
}

.post article section .img-figure  img{
   border:1px solid#ccc;
   padding: 3px;
   background-color:#fff;
   width: 32%; 
}

/*  Styling Over to Show the hight element */
.Hover  
{
  background: #4CAF50;
  font-weight: bold;
}

.post article .hid{
  display: none;
  border: 1px solid blue;
}

.Hover-section:hover .hid{
  display: block;
}


.img-container::after {
  content: "";
  clear: both;
  display: table;
}
.post article .img-container {
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #ccc;
  width: 100%; 
  text-align: center; 
 }

.post article .img-container  .imgg
{
  float: left;
  width: 33.333333%;
  padding: 5px; 
}

.post article .img-container img{
   width: 100%;
   border:1px solid#ccc;
   background-color:#fff;
}

.post article  button{
  padding: 10  20px;
  font-size: 18px;
}
  

.post article section  a{
 color: red;

}
.post article section
a:link,
a:visited,
a:active 
{ 
  color: #3366FF; 
  text-decoration: none; 
  font-weight: bold;
}

/* mouse over link */
.post article section a:hover 
{ 
  color: #006699; 
  text-decoration: underline;
  font-weight: bold; 
}


.post article section button,form input{
    padding : 5px;
 }

 .post article section .html5 input , select, textarea{
     display: block;
     margin-bottom: 10px;
 }


 .post article section .html5 .gender input{
    display: inline;
    margin-bottom: 10px;
}

.post article.Mozilla
{
  text-transform: capitalize;
}
.post article section#advice
{
  text-transform: capitalize;
  text-indent: 20px;
}

.post .Mozilla  h3 
{
  font-weight: bold;
}

/* Styling Tables  */
#customers,.names {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
}

#customers th, #customers td ,.names th, .names td
{
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even),.names tr:nth-child(even)
{
  background-color: #f2f2f2;
}
#customers tr:hover, .names tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.names th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blue;
  color: white;
}
#customers th, #customers td, .names th, .names td{
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {background-color: #f2f2f2;}

#customers tr:hover,
 .name tr:nth-child(even)
 {
   background-color: #ddd;
 }
 /* End Style Tables */


/* End article */

/* start aside */

/* for sidebar give 30% of the page
and floated to right */
aside {
    float: right;
    width: 30%;
}

aside section{
    background-color:#EEE;
    margin: 20px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

aside section h3 {
    background-color:#D1D1D1;
    padding: 10px;
    margin-bottom: 10px;
}

aside section ul
{
  background: #3399ff;
}
 

aside section ul li 
{
  line-height: 1.8;
  background: #cce5ff;
  margin: 0 5px;
}

aside section form input, label {
  
    padding: 5px;
   
}
aside section audio {
  
    padding: 10px;
    display: block;
}

/* End aside */

/* start footer */

footer{
    background-color:#333;
    color:#DDD;
    text-align: center;
    padding: 10px;
  
}

/* End footer */

/* start canvas */

.post article section canvas{
    display: block;
    height: 600px;
    border:1px solid #ccc;
    width: 100%;
    margin: 50px auto;
}

aside section canvas{
    display: block;
    height: 260px;
    border:1px solid #ccc;
    width: 95%;
    margin: 20px auto;
}

/* End canvas */

